@charset "UTF-8";

/*common.css*/

*{margin: 0 auto;}

#wrap{
	width:1280px;
	background-color:#eeeeee;
	text-align: center;
	position: relative;
}

img{border: 0; margin:0;}

#footerBox div{
	background-color: #777777;
	border:solid 1px #999999;
	margin-top:10px;
	padding:20px;
	margin:0;
}

#moveToTop:hover{
	opacity: 0.5;
	cursor:pointer;
}